<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gestion-ejemplares.component.css">
    <title>Gestión de ejemplares</title>
</head>
<body>
  <h1>Gestión de ejemplares</h1><br><br><br>
  <form>
    <div class="d-flex justify-content-center">
      <div class="input-group" style="width: 30%;">
        <input #busquedaISBN [(ngModel)]='isbnBusqueda' [ngModelOptions]="{standalone: true}" class="form-control" type="text" placeholder="Buscar">
        <div class="input-group-append">
          <button #btnBuscar class="btn btn-primary" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="getEjemplares()">Buscar</button>
        </div>
      </div>  
    </div>
    <br><br><br>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">ISBN</th>
        <th scope="col">ID del ejemplar</th>
        <th scope="col" style="width: 5%;">Eliminar</th>
      </tr>
    </thead>
    <tbody *ngFor="let Ejemplar of ejemplares">
      <tr>
        <td>{{Ejemplar.titulo}}</td>
        <td>{{Ejemplar.ISBN}}</td>
        <td>{{Ejemplar.idEjemplar}}</td>
        <td><button style="background-color: white; border: none;"><i class="fa-solid fa-trash" [id]="Ejemplar.idEjemplar" style="color: #e32402;" (click)="delEjemplar(Ejemplar.idEjemplar, Ejemplar.ISBN)"></i></button></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center" *ngIf="visible">
    <button class="btn btn-success" type="button" (click)="addEjemplar()">Nuevo</button>
  </div>
</body>
</html>