<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alta-prestamo.component.css">
    <title>Alta libro</title>
</head>
<body>
    <br><h1>Alta de prestamo</h1><br><br>
    
    <form class="formulario" >
        <label for="ISBN">ISBN:</label>
        <i class="fa-solid fa-barcode"></i><input type="number" id="ISBN" [(ngModel)]="ISBN" [ngModelOptions]="{standalone:true}" name="ISBN" required placeholder="ISBN"><br>

        <label for="idEjemplar">ID ejemplar:</label>
        <i class="fa-solid fa-barcode"></i><input type="number" id="idEjemplar" [(ngModel)]="idEjemplar" [ngModelOptions]="{standalone:true}" name="idEjemplar" required placeholder="ID Ejemplar"> <br>

        <label for="numControl">Número de control:</label>
        <i class="fa-solid fa-book"></i><input type="number" id="numControl" [(ngModel)]="numControl" name="numControl" required placeholder="Número de control"> <br>
      
        <label for="correo">Correo:</label>
        <i class="fa-solid fa-user-group"></i><input type="email" id="correo" [(ngModel)]="correo" name="correo" required placeholder="Correo"> <br>
      
        <label for="fechaPrestamo">Fecha prestamo:</label>
        <i class="fa-solid fa-calendar-days"></i><input type="date" id="fechaPrestamo" [(ngModel)]="fechaPrestamo" (change)="validarFecha()"  name="fechaPrestamo" required placeholder="Fecha prestamo">
        <div *ngIf="mensajeError" class="error-message">
            {{ mensajeError }}
          </div> <br>
      
        <label for="fechaDevolucion">Fecha devolución:</label>
        <i class="fa-solid fa-newspaper"></i><input type="date" id="fechaDevolucion" [(ngModel)]="fechaDevolucion" (change)="validarFechaDevolucion()" name="fechaDevolucion" required placeholder="fechaDevolucion">
        <div *ngIf="mensajeError" class="error-message">
            {{ mensajeError }}
          </div> <br><br>
      
        <button class="btnGuardar" type="button" (click)="altaPrestamo()" [disabled]="!esFechaValida">Guardar prestamo</button>
      </form>
      
</body>
</html>