<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alta-prestamo.component.css">
    <title>Alta libro</title>
</head>
<body>

  <!-- Contenido principal -->
  <div id="contenidoPrincipal" style="margin-bottom: 0%;">

    <!-- Migajas de pan -->
    <br><br>
    <nav style="--bs-breadcrumb-divider: '>'; font-size: 18px; text-align: left; margin-left: 15%; margin-top: 6%; position: absolute; " aria-label="breadcrumb">
       <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" style="text-decoration: none; color: black;">Inicio</a></li>
           <li class="breadcrumb-item active" aria-current="page">Alta de prestamo</li>
       </ol>
   </nav>

    <br><h1>Alta de prestamo</h1><br>
    
    <form class="formulario" >
        <label for="ISBN">ISBN:</label>
        <i class="fa-solid fa-barcode"></i><input type="number" id="ISBN" [(ngModel)]="ISBN"  name="ISBN" required placeholder="ISBN"><br>

        <label for="idEjemplar">ID ejemplar:</label>
        <i class="fa-solid fa-barcode"></i><input type="number" id="idEjemplar" [(ngModel)]="idEjemplar" name="idEjemplar" required placeholder="ID Ejemplar"> <br>

        <label for="numControl">Número de control:</label>
        <i class="fa-solid fa-book"></i><input type="number" id="numControl" [(ngModel)]="numControl" name="numControl" required placeholder="Número de control"> <br>
      
        <label for="correo">Correo:</label>
        <i class="fa-solid fa-user-group"></i><input type="email" id="correo" [(ngModel)]="correo" name="correo" required placeholder="Correo"> <br>

        <label for="fechaPrestamo">Fecha prestamo:</label>
        <i class="fa-solid fa-calendar-days"></i><input type="date" id="fechaPrestamo" [(ngModel)]="fechaPrestamo" (change)="validarFecha()"  name="fechaPrestamo" required placeholder="Fecha prestamo">
        <div *ngIf="mensajeError" class="error-message">
            {{ mensajeError }}
          </div> <br>
      
        <label for="fechaDevolucion">Fecha devolución:</label>
        <i class="fa-solid fa-newspaper"></i><input type="date" id="fechaDevolucion" [(ngModel)]="fechaDevolucion" (change)="validarFechaDevolucion()" name="fechaDevolucion" required placeholder="fechaDevolucion">
        <div *ngIf="mensajeError" class="error-message">
            {{ mensajeError }}
          </div> <br><br>
      
        <button class="btnGuardar" type="button" (click)="altaPrestamo()" [disabled]="!esFechaValida">Guardar prestamo</button>
      </form>

      <!-- Pie de pagina -->
  <footer style="background-color: #2A4DBD; color: white; text-align: center; padding: 10px; margin-top: 5%;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/Universidad_Tecnológica_del_Norte_de_Guanajuato_%28UTNG%29_LOGO.png" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px;">
    <br><br><div>&copy; 2024 Universidad Tecnológica del Norte de Guanajuato (UTNG). Todos los derechos reservados.</div>
    <div>Sitio web oficial: <a href="http://www.utng.edu.mx" style="text-decoration: none; color: white;">www.utng.edu.mx</a></div>
    <div>Dirección: Av. Educación Tecnológica #34, Fracc. Universidad, C.P. 37800, Dolores Hidalgo Cuna de la Independencia Nacional, Guanajuato.</div>
    <div>Teléfono: <a href="tel:+524181825500" style="text-decoration: none; color: white;">+52 (418) 182 5500 </a> | Email: <a href="utng_doloreshidalgo@utng.edu.mx" style="text-decoration: none; color: white;">utng_doloreshidalgo@utng.edu.mx</a></div>
    <div>Síguenos en nuestras redes sociales: <a href="https://www.facebook.com/UTNGDOLORESHIDALGO-222209577812067/app/109849065805705/" target="_blank" style="text-decoration: none; color: white;">UTNGDOLORESHIDALGO</a></div><br><br>
  </footer>
</div> <!-- Final de contenido principal -->

</body>
</html>