body {
    background-color: #00A887;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1{
    padding-top: 5%;
    padding-bottom: 3%;
  }

.container{
    padding-top: 10%;
    text-align: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Aumentamos el blur para una sombra más pronunciada */
  }